<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 col-md-1">
          <img src="http://placehold.it/80" class="img-circle img-responsive" alt=""/>
        </div>
        <div class="col-xs-10 col-md-11">
          <div>

            <%= comment.comment_details %></a>
            <div class="mic-info">
              <% @user1 = User.select(:email).find(comment.user_id) %>
              By: <%= @user1.email %>
            </div>
          </div>
          <div class="comment-text">
            Created at: <%= comment.created_at %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>