

.custom-input
{
  width: 150px;
}
.custom-input-u
{
  width: 150px;
  margin-left: 60px;
}
.custom-password
{
  width: 360px;
}
.custom-header_size {
  width: 150px;
}
.custom-back_colour {
  background-color: cadetblue;
}
.custom-jumbotron_size {
  width: 1170px;
  margin-left: 50px;
}